.exo {
	background: #ffffff;
	color: #000000;
	margin: 0.75em 1em;
	font-size:13px;
}


.exo .titreexo
{
   font-size:15px;
   font-weight:bold;
}
   
.exo .titreexo   a:link { color:#566579; font-style:normal; text-decoration:none; font-size:12px; 	font-weight:normal;}
.exo .titreexo   a:visited { color:#7566579; font-style:normal; text-decoration:none font-size:12px; 	font-weight:normal;}
.exo .titreexo   a:hover {font-style:normal; color: #738CC6; font-size:12px; 	font-weight:normal;}
.exo .titreexo   a:active { color#7566579; font-style:normal; text-decoration:none; font-size:12px; 	font-weight:normal;}	

.exo .aprestitre
{
}

.exo {
	
}

.lienexo  { color:#ffffff; font-style:none; text-decoration:none; font-size:13px; }
 

.exo .enonce
{
	border-color: #7aadbd;
	border-style: solid;
	border-width: 1px 1px 1px 3px;
	padding: 3px 0px 3px 0px ;
	margin: 5px 0px 0px 5px;
  background: #f8f9f0;
  a: {font-style:normal; text-decoration:none; font-size:15px}
	
  }
    
.exo  .enonce .inner
{
    padding:3px;margin:3px;
}

.exo .indication
{
	border-color: #7aadbd;
	border-style: solid;
	border-width: 0px 1px 1px 3px;
	padding: 3px 0px 3px 0px;
	margin: 0px 0px 0px 5px;
  background: #EFF8FB;
	
  }
    
.exo  .indication .inner
{
    padding:3px;margin:3px;
}

.exo .corrige
{
	border-color: #7aadbd;
	border-style: solid;
	border-width: 0px 1px 1px 3px;
	padding: 3px 0px 3px 0px;
	margin: 0px 0px 0px 5px;
  background: #FBEFF2;
	
  }
    
.exo  .corrige .inner
{
    padding:3px;margin:3px;
}	

.exo .enonce a:link { color:#566579; font-style:normal; text-decoration:none; font-size:15px; }
.exo .enonce a:visited { color:#7566579; font-style:normal; text-decoration:none font-size:15px;}
.exo .enonce a:hover {font-style:normal; color: #738CC6; font-size:15px;}
.exo .enonce a:active { color#7566579; font-style:none; text-decoration:none; font-size:15px;}

.exo .indication a:link { color:#566579; font-style:normal; text-decoration:none; font-size:15px; }
.exo .indication a:visited { color:#7566579; font-style:normal; text-decoration:none font-size:15px;}
.exo .indication a:hover {font-style:normal; color: #738CC6; font-size:15px;}
.exo .indication a:active { color#7566579; font-style:none; text-decoration:none; font-size:15px;}

.exo .corrige a:link { color:#566579; font-style:normal; text-decoration:none; font-size:15px; }
.exo .corrige a:visited { color:#7566579; font-style:normal; text-decoration:none font-size:15px;}
.exo .corrige a:hover {font-style:normal; color: #738CC6; font-size:15px;}
.exo .corrige a:active { color#7566579; font-style:none; text-decoration:none; font-size:15px;}

.codebox {
	border-style: solid;
	border-width: 1px;
	margin: 0.75em 1em;
	padding: 30;
}

.exo .presquelien  { color:#566579; font-style:normal; text-decoration:none; font-size:12px; 	font-weight:normal; cursor:pointer;}

.presquelien  { color:#566579; font-style:normal; text-decoration:none; font-size:12px; 	font-weight:normal; cursor:pointer;}



.exo .presquelien:hover {font-style:normal; color: #738CC6; font-size:12px; 	font-weight:normal; cursor:pointer;}

.titrepartie .presquelien  { color:#566579; font-style:normal; text-decoration:none; font-size:12px; 	font-weight:normal; cursor:pointer; }

.titrepartie .presquelien:hover {font-style:normal; color: #738CC6; font-size:12px; 	font-weight:normal; cursor:pointer; }

#mafeuille{
	float:left;
    font-family: Verdana, Arial, Helvetica, sans-serif;

    border: 1px solid #FFE4E1;
	margin-bottom:20px;
	min-height:100%;
	font-size:14px;
	width:100%;
}	

#mafeuille .toolbar {
	background-color: #FFE4E1;
	height: 20px;
  margin-bottom: 15px;
	min-height: 20px;
	vertical-align: middle;
  white-space: nowrap;
  color: #AF0000;
  font-size: 18px;
  font-weight:bold;
}

.optionsfeuille {
	font-style:verdana;
	font-size:1em;
	margin-left:10px;
	margin-bottom:30px;
}

.divsepare
{
  border-top-style: dotted;
  border-width:1px;
  padding-top:5px;
  margin-top:10px;
}

.repertoire
{	
	padding: 3px 0px 3px 0px ;
	margin: 2px 0px 0px 5px;
  a: {font-style:normal; text-decoration:none; font-size:15px}
  
	
  }
    
.repertoire .inner
{
	border-color: #7aadbd;
	border-style: solid;
	border-width: 0px 0px 0px 3px;
	  background: #fafafa;

    padding:3px;margin:3px;
}

.unefeuille .presquelien  { color:#566579; font-style:normal; text-decoration:none; font-size:12px; 	font-weight:normal; cursor:pointer;}

.unefeuille .presquelien:hover {font-style:normal; color: #738CC6; font-size:12px; 	font-weight:normal; cursor:pointer;}

.repertoire .presquelien  { color:#566579; font-style:normal; text-decoration:none; font-size:12px; 	font-weight:normal; cursor:pointer;}

.repertoire .presquelien:hover {font-style:normal; color: #738CC6; font-size:12px; 	font-weight:normal; cursor:pointer;}

.panelboutons{
	text-align:center;
	padding-bottom:30px;
	padding-top:15px;
}

.grosboutonsfeuille{
	cursor:pointer; 
	border-radius:5px;
	background:linear-gradient(#DDDDDD,#FFFFFF); 
	font-style:verdana;
	font-size:1em;
	margin:5px;
}

.grosboutonsfeuille:hover{
	background:linear-gradient(#CCCCCC,#EEEEEE);
}

.boutonressource{
	cursor:pointer;
	border-radius:5px;
	font-style:verdana;
	background:linear-gradient(#DDDDDD,#FFFFFF); 
}

.boutonressource:hover{
	background:linear-gradient(#CCCCCC,#EEEEEE);
} 

.enumeratechiffre
{
	list-style-type: none;
}

.enumeratechiffre ol {
	counter-reset: step-counter;	
}

.enumeratechiffre li {
    counter-increment: step-counter;
}

.enumeratechiffre li::before {
    content: counters(step-counter,".")".";
    margin-right: 2px;
    font-weight: bold;
    padding: 3px 2px;
}

.enumeratealpha
{
	list-style-type: none;
}

.enumeratealpha ol
{
	counter-reset: step-counteralpha;
}

.enumeratealpha li {
    counter-increment: step-counteralpha;
}

.enumeratealpha li::before {
    content: counter(step-counteralpha,lower-alpha)".";
    margin-right: 2px;
    font-weight: bold;
    padding: 3px 2px;
}




.enumerateroman
{
	list-style-type: none;
}

.enumerateroman ol
{
	counter-reset:step-counterroman;
}

.enumerateroman li
{
	counter-increment:step-counterroman;
}

.enumerateroman li::before
{
   content: counter(step-counterroman,lower-roman)".";
    margin-right: 2px;
    font-weight: bold;
    padding: 3px 2px;	
}

.rien 
{
  list-style-type:square;	
}

.rien li
{
	counter-increment:virtual;
}

.rien li::before
{
	content:none;
}