
.footnote-list .footnotes .footnote-link,
.footnote-list .footnotes .footnote-multi {
  float: left;
}
.footnote-list .footnotes .footnote-link::after,
.footnote-list .footnotes .footnote-multi::after {
  content: " ";
  white-space: pre;
}