h1,
h2 {
  color: #000000;
  font-size: 16pt;
  font-weight: bold;
}

a,
a:visited,
a:link {
  color: yellow;
}

.blog-post-title > .blog-post-title-wrapper > h1 {
  color: #ffac40;
  font-weight: 400;
  font-variant: normal;
  font-size: 33px;
}

.blog-post-title > .blog-post-title-wrapper > h2 {
  color: #66cc6e;
  font-size: 22pt;
  font-weight: 400;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
  color: #ffffff;
}

div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
  color: #e0983a;
}

.sidebar-widget-title h2 {
  color: #fff700;
}

.blog-post-title > .blog-post-title-wrapper > h3 {
  color: #cfcf1d;
  font-size: 24px;
}

.blog-post-title-wrapper {
  color: #ffffff;
}

.um-field-label,
.um-form,
.blog-post-title,
.col-md-8 {
  color: #ffffff;
}

.footer_section {
  background-color: #0e3e59;
}

.navbar.navbar-wrapper.navbar-inverse.navbar-static-top {
  background-color: #0e3e59;
}

.home-blog-info {
  background-color: #1e6f9e;
}

.blog-post-title {
  background-color: #1e6f9e;
}

.blog-author {
  background-color: #1e6f9e;
}

.sidebar-section {
  background-color: #1e6f9e;
}

.comment-form-section {
  background-color: #1e6f9e;
}

.page-title-col h1 {
  color: #ffffff;
  text-transform: none;
  font-style: italic;
}

.label {
  color: #fadada;
}

.happyforms-part-wrap {
  background-color: #1e6f9e;
}

.w3eden .table > tbody > tr > td {
  color: #e6a10e;
  font-weight: bold;
  background-color: #ffffff;
}

.w3eden .table > tbody > tr > th {
  background-color: #ffffff;
}

cite {
  font-size: 10px;
}

.w3eden .list-group li {
  background-color: #1e6f9e;
}

.card.mb-3.p-3 {
  background-color: #1e6f9e;
}

.w3eden h1 {
  color: #97ff47;
}

.sidebar-widget > ul > li {
  color: #fcfc00;
  margin: 0px;
  border-width: 0px;
}

figcaption {
  text-align: center;
  color: #99e6f2;
  font-style: italic;
}

.js-ticket-from-field-title {
  font-weight: bolder;
}

.js-attachment-field-title {
  font-weight: bolder;
}

.js-section-heading {
  background-color: #959ff0;
}

.js-col-xs-12.js-col-sm-6.js-col-md-4.js-ticket-dash-menu {
  background-color: #000000;
}

.js-ticket-dash-menu-text {
  color: #ffffff;
  font-weight: bolder;
}

#ctf p.ctf-tweet-text {
  color: #ffffff;
  border-width: 0px;
  border-style: hidden;
}

#1258401086811131904.ctf-item.ctf-author-stphanepasquet8.ctf-new {
  border-width: 2px;
  border-color: #ffffff;
  border-style: dotted;
}

#ctf.ctf-super-narrow .ctf-author-name {
  color: #00dfeb;
}

.ctf-author-name a {
  color: #ffffff;
}

.static-banner {
  height: 0px;
  visibility: hidden;
}

.homepage_mycarousel {
  height: 0px;
}

.service-section {
  background-color: #0e3e59;
}

.container.home-blog-section {
  background-color: #0e3e59;
}

#content,
body,
html {
  background-color: #0e3e59;
}

.tableSTY tr td {
  border-collapse: separate;
  border-spacing: 5px 8px;
  padding: 5px;
  border-color: transparent;
}